<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="react-root" style="width: 100%; height: 100%;"></div>
    <script type="text/javascript" src="/javascripts/system-production.js"></script>
    <script type="text/javascript">
      SystemJS.config({ baseURL: '/javascripts' });
    </script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
